body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.fa-form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #927057;
  color: #fff;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}