@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  background-color: #927057;
  color: #ffffff;
  padding: 20px;
  font-family: 'Oxygen', sans-serif;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

main {
  width: 470px;
  margin: 50px auto 0;
  padding: 50px 60px 70px 60px;
  background-color: #d5c395;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
}

main::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 259px;
  width: 68px;
  height: 35px;
  background: url('profile-image.png') no-repeat 0 0;
  display: block;
}

footer {
  font-size: 1em;
  color: #EFE1C4;
  text-align: center;
  margin-top: 20px;
}

div.image-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

img {
  border: 5px solid #d5c395;
  height: 123px;
}

input[type="text"],
input[type="password"] {
  outline: none;
  border: none;
  background-color: #efe1c4;
  padding: 10px 10px 10px 60px;
  width: 85%;
  font-size: 1.1em;
  color: #927057;
  border-radius: 5px;
  margin-bottom: 30px;
  box-sizing: border-box;
  position: relative;
}

.username-container,
.password-container {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.icon-container {
  position: absolute;
  left: 12px;
  top: 11px;
  width: 20px;
  height: 20px;
}

input[type="submit"] {
  outline: none;
  border: none;
  background-color: #927057;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  font-size: 1.5em;
  color: #d5c395;
  border-radius: 5px;
  cursor: pointer;
}

.icon-container img {
  width: 20px;
  height: 20px;
  border: none;
}